<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sm1ld.mapper.OrderMapper">
    <!-- 根据 userId 查询当前用户的所有订单 -->
    <select id="getOrderByUid" resultMap="orderWithItems">
        SELECT o.orderId,
               o.userId,
               o.orderStatus,
               o.payStatus,
               o.total,
               o.sendDate,
               o.sentDate,
               o.createdAt,
               o.updatedAt,
               oi.itemId,
               oi.number,
               i.price,
               (oi.number * i.price) AS subTotal,
               i.title               AS itemTitle
        FROM allorder o
                 LEFT JOIN orderitem oi ON o.orderId = oi.orderId
                 LEFT JOIN item i ON oi.itemId = i.id
        WHERE o.userId = #{userId};
    </select>
    <!-- ResultMap，映射查询结果（订单与商品） -->
    <resultMap id="orderWithItems" type="com.sm1ld.pojo.Order">
        <id property="orderId" column="orderId"/>
        <result property="userId" column="userId"/>
        <result property="orderStatus" column="orderStatus"/>
        <result property="payStatus" column="payStatus"/>
        <result property="total" column="total"/>
        <result property="sendDate" column="sendDate"/>
        <result property="sentDate" column="sentDate"/>
        <result property="createdAt" column="createdAt"/>
        <result property="updatedAt" column="updatedAt"/>
        <!-- 订单商品部分 -->
        <collection property="orderItem" ofType="com.sm1ld.pojo.Item">
            <id property="id" column="itemId"/>
            <result property="title" column="itemTitle"/> <!-- 映射商品名称 -->
            <result property="quantity" column="quantity"/>
            <result property="price" column="price"/>
            <result property="subTotal" column="subTotal"/> <!-- 映射计算得到的小计 -->
        </collection>
    </resultMap>

    <!-- 插入订单 -->
    <insert id="insertOrder" parameterType="com.sm1ld.pojo.Order">
        INSERT INTO allorder (userId, total, orderStatus, payStatus, createdAt, sendDate)
        VALUES (#{userId}, #{total}, 0, 0, now(), CURRENT_TIMESTAMP + INTERVAL 1 DAY)
    </insert>

    <insert id="insertOrderItems" parameterType="java.util.List">
        <foreach collection="orderItemList" item="orderItem" index="index" open="" separator="," close="">
            (#{orderItem.orderId}, #{orderItem.itemId}, #{orderItem.quantity}, #{orderItem.price}, #{orderItem.subTotal})
        </foreach>
    </insert>


    <!-- 根据订单ID查询订单详细信息（订单 + 商品） -->
<!--    <select id="selectOrderById" resultMap="orderWithItems" parameterType="Long">-->
<!--        SELECT * FROM `order` o-->
<!--    #     LEFT JOIN order_item oi ON o.orderId = oi.orderId-->
<!--        WHERE o.orderId = #{orderId};-->
<!--    </select>-->

    <!-- 根据订单ID删除订单 -->
<!--    <delete id="deleteOrderById" parameterType="Long">-->
<!--        DELETE FROM `order` WHERE orderId = #{orderId};-->
<!--    </delete>-->

    <!-- 更新订单信息 -->
<!--    <update id="updateOrder" parameterType="com.sm1ld.pojo.Order">-->
<!--        UPDATE `order`-->
<!--        SET orderStatus = #{orderStatus},-->
<!--        payStatus = #{payStatus},-->
<!--        payMethod = #{payMethod},-->
<!--        total = #{total},-->
<!--        address = #{address},-->
<!--        sendDate = #{sendDate},-->
<!--        sentDate = #{sentDate}-->
<!--        WHERE orderId = #{orderId};-->
<!--    </update>-->




</mapper>
